// colors
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGray: hsl(217, 12%, 63%);
$mediumGray: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

// fonts
$fontFamily: "Overpass", sans-serif;
$fontRegular: 400;
$fontBold: 700;
$fontSize: 15px;

// spacing
$basePadding: 1rem;
$baseMargin: 1rem;
